.submit-btn{
    background-color: var(--primary-clr);
    border: none;
    border-radius: 10px;
    color: var(--text-clr);
    font-size: 1rem;
    min-width: 5rem;
    padding: 0.5rem;
}
.submit-btn:hover{
    cursor: pointer;
}